.assign-user {
  cursor: pointer;
  min-width: 24px;
  min-height: 24px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    border-color: $brand-primary;
  }

  &.assign-active {
    border: 1px solid $brand-primary !important;
  }

  .assign-user-list {
    z-index: 1;
    position: absolute;
    box-shadow: 2px 2px 5px $gray;
    max-height: 19em;
    background-color: white;
    overflow-y: auto;
    font-size: 14px;

    &.assign-placement-bottom {
      left: 12px;
      top: 24px;
    }
    &.assign-placement-top {
      bottom: 24px;
    }
    &.assign-placement-left {
      right: 0px;
      top: 24px;
    }
  }

  .assign-name {
    margin-left: 0.5em;
    white-space: nowrap;
  }

  .search-box {
    min-width: 12em;
  }

  .assign-list-user {
    display: flex;
    align-items: center;
    padding: 0.5em;
    cursor: pointer;

    &:hover {
      background-color: rgba($brand-primary, 0.4);
    }
  }
}

.assign-user-large {
  min-width: 48px;
  min-height: 48px;

  .assign-user-list {
    font-size: 28px;

    &.assign-placement-bottom {
      left: 0;
    }
    &.assign-placement-top {
      bottom: 48px;
    }
  }
}
