@import "../colours.scss";

.autocomplete-display {
  cursor: text;

  label {
    cursor: text;
  }
}

.autocomplete-suggestions {
  position: absolute;
  z-index: 1;
  background-color: white;
  border: 1px solid $background-grey;
  min-width: 15em;
  padding: 0.5em;

  .autocomplete-suggestion {
    padding: 0.2em;
    margin: 0.3em;
    border-bottom: solid 1px $background-grey;

    &:hover {
      cursor: pointer;
      background-color: $background-grey;
    }
  }
}
