@import "../colours.scss";

.autocomplete-display {
  cursor: pointer;
  position: relative;

  .autocomplete-edit {
    position: absolute;
    display: none;
    bottom: 0.8em;
    right: 0.2em;
  }

  &:hover {
    .autocomplete-edit {
      display: unset;
    }
  }
}

.autocomplete-suggestions {
  position: absolute;
  z-index: 1;
  background-color: white;
  border: 1px solid $background-grey;
  min-width: 15em;
  box-shadow: 2px 2px 5px $gray-600;
  max-height: 19em;
  overflow-y: auto;
  font-size: 14px;

  .autocomplete-suggestion {
    padding: 0.5em 1em;
    border-bottom: solid 1px $background-grey;

    &:hover {
      cursor: pointer;
      background-color: $hover-background;
    }
  }
}
