.create-issue-widget {
  position: fixed;
  width: 30px;
  height: 30px;
  bottom: 30px;
  right: 30px;
  background-color: $brand-primary;
  border-radius: 50%;
  color: $primary-text;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;

  box-shadow: 2px 2px 5px $gray;
  &:active, &:focus {
    background: $brand-secondary;
  }

  &:hover {
    transform: scale(1.25);
  }
}
