.icon {
  background-color: $brand-primary;
  color: $primary-text;
  border-radius: 3px;
  padding: 4px;
  margin: 4px;
  text-align: center;
  cursor: pointer;
  display: inline-block;

  box-shadow: 2px 2px 5px $gray;
  &:active, &:focus {
    background: $brand-secondary;
  }

  &:hover {
    transform: scale(1.25);
  }
}
