@import "../colours";

.issue-create-notification-container {
  position: absolute;
  height: 50px;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  min-width: 33%;
  z-index: 10;
  background: white;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid $primary;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .close-button {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    border: 1px solid transparent;
    padding: 0.1em;

    &:hover {
      cursor: pointer;
      border-color: $primary;
      border-radius: 0.25em;
    }

    &:active {
      background-color: $primary;
    }
  }
}

.background-animation-add {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0%   { opacity: 0; height: 0; }
  100% { opacity: 1; height: 50px; }
}
