@import "../colours";

.sub-task-section {
  overflow-y: auto;
  padding-bottom: 2px;
}

.sub-task-issue {
  cursor: pointer;
  padding: 0.2em;
  border-color: transparent !important;

  &:hover {
    border-color: $primary !important;
  }
}

.create-sub-task {
  position: absolute;
  bottom: 0;
}
