@import "../_colours.scss";

.top-shelf {
  margin-left: 0;
  margin-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $brand-secondary;

  .action-bar {
    text-align: center;
    box-sizing: border-box;
  }
}

.top-shelf-grid {
  display: grid;
  grid-column-start: 1;
  grid-column-end: -1;
}
