@import "../_colours.scss";

.editor-text-view {
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
  border-radius: 3px;
  width: 100%;
  height: calc(100% - 1rem);
  position: relative;
}

.editor-view-content {
  overflow-y: auto;
  height: 100%;
  padding: 1rem;
}

.editor-icon {
  position: absolute;
  right: 20px;
  bottom: 20px;
  text-align: center;
}

.editor-container {
  position: relative;
  height: calc(100% - 1rem);

  textarea {
    resize: none;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
    border-radius: 3px;
  }
}
