<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Agile Bored</title>
    <link rel="stylesheet" href="css/all.css">
    <style>
      .loading-icon-container {
        display: flex;
        height: calc(100vh - 66px);
        align-items: center;
        font-size: 10vh;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
  </head>

  <body aurelia-app="main">
    <div class="loading-icon-container">
      <p><i class="fa fa-circle-notch fa-spin"></i> Loading...</p>
    </div>
    <script src="scripts/vendor-bundle.js"></script>
    <script>SystemJS.import("aurelia-bootstrapper").catch(function(err) { console.log(err); })</script>
  </body>
</html>
