<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agile Bored is Down</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <style>
      .loading-icon-container {
        display: flex;
        height: 100vh;
        align-items: center;
        font-size: 10vh;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
  </head>

  <body>
    <div class="loading-icon-container">
      <p>Agile Bored is down</p>
      <p style="font-size: 4vh">Don't worry, I'm sure it'll perk up again, soon</p>
    </div>
  </body>
</html>
