<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agile Bored is Down</title>
    <style>
      .loading-icon-container {
        display: flex;
        flex-direction: column;
        height: 90vh;
        align-items: center;
        font-size: 10vh;
        justify-content: center;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      }
    </style>
  </head>

  <body>
    <div class="loading-icon-container">
      <div>Agile Bored is down</div>
      <div style="font-size: 4vh">Don't worry, I'm sure it'll perk up again, soon</div>
    </div>
  </body>
</html>
