@import "../colours";

.perf-stats-container {
  overflow-y: auto;
  height: 75vh;
  width: 100%;

  .header {
    background-color: $secondary;
    color: $primary-text;
    top: 0;
    position: sticky;
    z-index: 1;
    margin-bottom: 3px;
  }

  .stripe {
    background-color: $bg-light;
  }
}

