@import "../_colours";

.edit-issue-title {
  width: 100%;
  padding: 0 1rem;
  border-radius: 3px;
}

.edit-issue-content {
  margin-top: 1%;
  height: 50vh;
  overflow-y: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.edit-control {
  max-width: 100%;
}

.markdown-editor {
  border-radius: 3px;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.tab-controls {
  text-align: center;
  display: flex;
  justify-content: center;

  .tab-control {
    padding: 0.5em;
    color: $primary;
    cursor: pointer;
    float: left;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    user-select: none;
    border-radius: 3px;

    &.active {
      border-color: $primary;
    }
  }
}
