.stand-up-dialog:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

.fullscreen-action {
  cursor: pointer;
}

.stand-up-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.stand-up-display {
  height: 100%;
  width: 100%;

  .stand-up-display-area {
    width: 65%;
    height: 100%;
    padding-right: 2rem;
    float: left;
    position: relative;

    .stand-up-active-panel {
      height: calc(100% - (2.5em + 0.5em));
    }

    .stand-up-tabs-panel {
      position: absolute;
      bottom: 0;
      display: flex;
      flex-wrap: nowrap;
      height: 2.5em;
      align-items: center;
      width: 100%;

      .stand-up-tab {
        color: $brand-primary;
        cursor: pointer;
        margin-left: 1em;
        margin-right: 1em;
        padding: 0.3em;
        box-sizing: border-box;

        &:hover, &:active {
          text-decoration: underline;
          border: 1px solid $brand-primary;
        }
      }
    }
  }

  .stand-up-issues {
    width: 35%;
    float: left;
    height: 100%;

    .stand-up-issue-list {
      height: 100%;
      overflow-y: auto;
      padding-right: 10px;
    }
  }
}

.child-issues-row {
  padding-left: 2em;
}
