.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-header {
  color: $brand-primary;
}

.login-form {
  width: 300px;
}

.login-failed {
  color: $brand-warning;
  margin: 5px;
}