.login-container {
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-header {
  color: $primary;
}

.login-form {
  width: 300px;
}

.login-failed {
  color: $warning;
  margin: 5px;
}

.settings-icon {
  position: fixed;
  bottom: 30px;
  right: 30px;
}
