.loading-icon-container {
    display: flex;
    height: calc(100vh - 50px);
    align-items: center;
    font-size: 10vh;
    justify-content: center;
}

div {
    display: block;
}

@font-face {
    font-family: Raleway;
    src: url(src/styles/fonts/Raleway.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Raleway;
    src: url(src/styles/fonts/Raleway-SemiBold.ttf);
    font-weight: 600;
}

body {
    font-family: Raleway;
}

.page-host {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }

.date-format {
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.navbar-default .navbar-brand {
    color: $brand-primary;
}

.loader {
    margin-right: 10px;
    margin-top: 5px;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 7px;
    margin-bottom: 7px;
}

.vertically-center-row {
  display: flex;
  align-items: center;
}

.full-height {
  height: 100%;
}
