.loading-icon-container {
    display: flex;
    height: calc(100vh - 50px);
    align-items: center;
    font-size: 10vh;
    justify-content: center;
}

div {
    display: block;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(src/styles/fonts/Roboto-400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(src/styles/fonts/Roboto-700.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: Roboto;
}

.page-host {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }

.date-format {
    font-size: 0.75em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.navbar-default .navbar-brand {
    color: $brand-primary;
}

.loader {
    margin-right: 10px;
    margin-top: 5px;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 7px;
    margin-bottom: 7px;
}

.vertically-center-row {
  display: flex;
  align-items: center;
}

.full-height {
  height: 100%;
}
