body {
    overflow: hidden;
}

.loading-icon-container {
    display: flex;
    height: calc(100vh - 50px);
    align-items: center;
    font-size: 10vh;
    justify-content: center;
    flex-direction: column;
}

.page-host {
    overflow-x: hidden;
    overflow-y: auto;
    left: 0;
    right: 0;
    position: absolute;
  }

.date-format {
    font-size: 0.75em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.navbar-default .navbar-brand {
    color: $primary;
}

.navbar-default {
    padding-left: 0.5em;
    padding-right: calc(0.5em + 16px);
}

.loader {
    margin-right: 10px;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 7px;
    margin-bottom: 7px;
}

.vertically-center-row {
  display: flex;
  align-items: center;
}
