.parent-issue-title-row {
  display: flex;
  align-items: center;
  padding: 0 0.5em;

  .epic-name {
    margin-left: 1rem;
  }
}

.avatar-container {
  box-sizing: border-box;
  margin-right: 5px;
  border: 1px solid transparent;
  & > img {
    border-radius: 50%;
  }
}

.edit-assignee {
  .avatar-container {
    display: inline-block;
    margin-left: 0.5em;
  }
}

.status-col {
  padding: 5px;
  padding-bottom: 0px;
  background-color: white;
  margin: 5px;

  &:last-child {
    border-right: none;
  }
}

.main-content {
  margin-left: -15px;
  margin-right: -15px;
  height: calc(100vh - 50px);
  background-color: whitesmoke;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: fit-content(100%) 1fr;
}

.status-headings {
  padding-left: 15px;
  padding-right: 15px;
}

.status-cols-area {
  overflow-y: scroll;
  padding-left: 15px;
  padding-right: 15px;
  display: grid;
  padding-bottom: 40px;
}

.epic-title {
  background-color: #ddd;
  padding: 0 0.5em;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);

  h3 {
    margin-top: 10px;
  }
}

.issues-area {
  display: grid;
}

.status-name {
  margin: 10px 5px;
  border-radius: 3px;
  padding: 3px;
  background-color: $secondary;
  text-transform: uppercase;
  text-align: center;
  color: $gray-200;
  display: flex;
  align-items: center;
  justify-content: center;

  &:last-child {
    border-right: none;
  }
}

@include media-breakpoint-up(md) {
  .status-headings {
    margin-right: 16px;
  }
}
