.issue {
  background-color: $gray-lighter;
  margin-top: 5px;
  padding-bottom: 5px;
  border-left: solid 3px transparent;
  border-radius: 3px;
}

.avatar-container {
  margin-right: 5px;
}

.status-col {
  background-color: $primary-text;
  padding: 10px;
  border-right: 1px solid $brand-primary;
  background-color: $background-grey;

  &:last-child {
    border-right: none;
  }
}

.main-content {
  margin-left: -15px;
  margin-right: -15px;
  height: calc(100vh - 50px);
  background-color: #ccc;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: fit-content 1fr;
}

.status-cols-area {
  overflow: auto;
  display: grid;
}

.status-name {
  padding: 3px;
  background-color: $brand-secondary;
  text-transform: uppercase;
  text-align: center;
  color: $gray-lighter;
  display: flex;
  align-items: center;
  justify-content: center;
}
