.parent-issue-title-row {
  display: flex;
  align-items: center;

  .epic-name {
    margin-left: 1rem;
  }
}

.avatar-container {
  box-sizing: border-box;
  margin-right: 5px;
  border: 1px solid transparent;
  & > img {
    border-radius: 50%;
  }
}

.status-col {
  padding: 5px;
  padding-bottom: 0px;
  background-color: white;
  margin: 5px;

  &:last-child {
    border-right: none;
  }
}

.main-content {
  margin-left: -15px;
  margin-right: -15px;
  height: calc(100vh - 50px);
  background-color: whitesmoke;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: fit-content(100%) 1fr;
}

.status-headings {
  margin-right: 16px;
  padding-left: 15px;
  padding-right: 15px;
}

.status-cols-area {
  overflow-y: scroll;
  padding-left: 15px;
  padding-right: 15px;
  display: grid;
}

.issues-area {
  display: grid;
}

.status-name {
  margin: 5px;
  padding: 3px;
  background-color: $brand-secondary;
  text-transform: uppercase;
  text-align: center;
  color: $gray-lighter;
  display: flex;
  align-items: center;
  justify-content: center;

  &:last-child {
    border-right: none;
  }
}
