.issue {
  background-color: #ddd;
  padding: 5px;
  border-left: solid 3px transparent;
  border-radius: 3px;
  margin-bottom: 5px;
}

.issue-title {
  padding: 0 1rem;
  background-color: #ccc;
}

.issue-description {
  font-weight: 600;
}

.gu-mirror {
  transform: rotate(5deg)
}

.issue-key {
  font-family: Arial, Helvetica, sans-serif;
}

.epic-name {
  border-radius: 2px;
  padding: 0 0.3rem;
  display: inline-block;
}

.stand-up-issue {
  background-color: #ddd;
  padding: 5px;
  border-left: solid 3px transparent;
  border-radius: 3px;
  height: 100%;
  font-size: 30pt;
  display: flex;
  flex-direction: column;

  .stand-up-title-row {
    font-weight: 600;
    display: flex;
    justify-content: space-between;

    .title {
      margin-right: 0.5em;
    }

    .status {
      white-space: nowrap;
    }
  }

  .stand-up-description {
    font-size: 20pt;
    overflow-y: auto;
  }

  .stand-up-misc-row {
    justify-content: space-between;
  }

  .stand-up-last-row {
    margin-top: auto;
  }
}
