.searching-icon-container {
  font-size: 5vh;
  text-align: center;
}

.search-results {
  height: calc(100vh - (50px + 34px + 40px));
}

.search-form {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.search-box {
  width: 100%;
}

.search-description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 600px;
}

.search-issue-middle-row {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.scrolling-search-results {
  height: calc(100% - 65px);
  overflow-y: auto;
  padding-top: 5px;
  padding-bottom: 15px;
}

.search-no-results {
  text-align: center;
}
