.search-form {
  margin-top: 20px;
  text-align: center;
}

.search-box {
  width: 100%;
}

.search-description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 600px;
}

.search-issue-middle-row {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
