@import "_colours.scss";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "_base.scss";
@import "dialogs/_dialogs.scss";
@import "widgets/_widgets.scss";

.issue {
  background-color: $gray-lighter;
  padding: 20px;
  margin-top: 5px;
}
